<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
</head>
<body>
	<h3>username: {{object.username}}</h3>
	<p>bio: {{object.bio}}</p>
	<p>website: <a href="{{object.website}}">{{object.website}}</a></p>
	<p>followers: <a href="{% url 'follower-detail' object.username %}">{{ followers_count }}</a></p>
	<p>followings: <a href="{% url 'following-detail' object.username %}">{{ followings_count }}</a></p>
	<p>posts: {{posts_count}}</p>

	<form action="{% url 'follow-unfollow' object.username %}" method="post">
		{% csrf_token %}
		<input type="submit" value="{% if is_following %}UnFollow{% else %}Follow{% endif %}">
	</form>


</body>
</html>